body {
  margin: 0 5%;
  background: rgb(225, 225, 225);
}

#flag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #flag {
    height: 100vh;
    border-left: 90px solid green;
    border-right: 90px solid green;
    font-size: 50px;
  }
}

@media screen and (min-width: 481px) {
  #flag {
    height: 100vh;
    border-left: 200px solid green;
    border-right: 200px solid green;
    font-size: 100px;
  }
}
